@{
    ViewBag.Title = "About";
}

<h2 class="my-5">@ViewBag.Title.</h2>

<p class="w-75">
    JML Realty is committed as a Property Management Solution to ensure that your residence 
    in the sunny city of Corona will be an enjoyable one. Located close to a sizable park for 
    recreation and shopping centers to enjoy to your heart's content, JML Realty’s properties in Corona are the 
    ideal answer for your housing needs.
</p>

<div class="text-center p-5">
    <img src="~/Content/Images/flower.jpg"/>
</div>

