
@{
    ViewBag.Title = "FAQ";
    ViewBag.Email = Environment.GetEnvironmentVariable("JML_ADMIN_EMAIL");
    ViewBag.Password = Environment.GetEnvironmentVariable("JML_ADMIN_PASSWORD");
    ViewBag.Connection = Environment.GetEnvironmentVariable("JML_DB_CONNECTION");
}

<h2>FAQ</h2>




<h2>Under Construction</h2>
<p>This is your FAQ Page!</p>

<img src="~/Content/Images/under-construction.jpeg" />
